<!DOCTYPE html>
<!-- saved from url=(0061)http://blackrockdigital.github.io/startbootstrap-round-about/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/pouch.bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/round-about.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
  

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          
          <a href="pouch"><button type="button" class="btn btn-sm btn-outline-secondary"><h1 class="my-4">ポーチの中身を追加する</h1></button>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="lip"><img src="images/lips.jpg" width="300px" height="260px">
          <h3>Lips</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="cheeks"><img src="images/cheeks.png" width="300px" height="260px">
          <h3>Cheeks</h3> 
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="eyeshadow"><img src="images/eyeshadow.jpg" width="300px" height="260px">
          <h3>Eyeshadow</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="base"><img src="images/base.jpg" width="300px" height="260px">
          <h3>Base</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="nail"><img src="images/nail.jpg" width="300px" height="260px">
          <h3>Nail</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="perfum"><img src="images/perfum.jpg" width="300px" height="260px">
          <h3>Perfume</h3>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright © Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/pouch.jquery.min.js"></script>
    <script src="/js/pouch.bootstrap.bundle.min.js"></script>

  


</body></html>