<form>
  <div class="msr_text_02">
    <label>Text</label>
    <input type="text" />
  </div>
  <div class="msr_radio_02">
    <p>Radio_button</p>
    <input type="radio" name="msr_radio_tye01" id="msr_02_radio01" />
    <label for="msr_02_radio01">radio1</label>
    <input type="radio" name="msr_radio_tye01" id="msr_02_radio02" />
    <label for="msr_02_radio02">radio2</label>
  </div>
  <div class="msr_chack_02">
    <p>Chack_box</p>
    <input type="checkbox" name="msr_check_tye01" id="msr_02_chack01" />
    <label for="msr_02_chack01">checkbox1</label>
    <input type="checkbox" name="msr_check_tye01" id="msr_02_chack02" />
    <label for="msr_02_chack02">checkbox2</label>
    <input type="checkbox" name="msr_check_tye01" id="msr_02_chack03" />
    <label for="msr_02_chack03">checkbox3</label>
  </div>
  <div class="msr_pulldown_02">
    <p>Pulldown</p>
    <select name="msr_02_pulldown01">
      <option value="">選択してください</option>
      <option value="test1">test1</option>
      <option value="test2">test2</option>
      <option value="test3">test3</option>
      <option value="test4">test4</option>
      <option value="test5">test5</option>
    </select>
  </div>
  <div class="msr_file_02">
    <p>file</p>
    <div class="msr_filebox_02">
      <label for="file_photo">画像を選択してください</label>
      <input type="file" id="file_photo">
    </div>
  </div>
  <div class="msr_textarea_02">
    <label>Textarea</label>
    <textarea></textarea>
  </div>
  <p class="msr_sendbtn_02">
    <input type="submit" value="Send">
  </p>
  <p class="msr_sendbtn_02">
    <input type="submit" value="Send" disabled="disabled">
  </p>
</form>











        <% @cosmetics.each do |cosmetic| %>
            <p><%= cosmetic['name'] %></p>
            <p><%= cosmetic['category'] %></p>
            <p><%= cosmetic['color'] %></p>
            <p><%= cosmetic['bland'] %></p>

          <% end %>